{{ role_name }} Role
=========


Role Variables
--------------

```
# Any Vars?
```

----------------

```
#   requirements.yml
#
#   Example
# - src: https://github.com/ergontech-ansible-roles/{{ role_name }}-role
#   version: master
#   name: {{ role_name }}
```

License
-------

[MIT](LICENSE)
